<div id="<%= dom_id ticket %>">
  <p>
    <strong>Parking lot:</strong>
    <%= ticket.parking_lot_id %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= ticket.car.registration_no %>
  </p>

  <p>
    <strong>Spot:</strong>
    <%= ticket.spot_id %>
  </p>

</div>
