<h1>Editing parking lot</h1>

<%= render "form", parking_lot: @parking_lot %>

<br>

<div>
  <%= link_to "Show this parking lot", @parking_lot %> |
  <%= link_to "Back to parking lots", parking_lots_path %>
</div>
